.App {
  margin: 0px;
}
button {
  color: #000;
  margin: 0;
  padding: 0;
}
.menu-button {
  position: relative;
  display: flex;
  margin: 1rem;
  font-size: 200%;
}

.menu-button i {
  font-size: 200%;
  cursor: pointer;
}
