:root {
  --font-color: #000;
  --bg-color: #fff;
  --main-color: #2e7ce4;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: unset;
}
.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
label {
  font-size: 160%;
  text-transform: capitalize;
  margin-right: 0.5rem;
  font-weight: 700;
}
input {
  border: 2px solid #b1afaf;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  padding: 0.8rem 1rem;
  font-weight: 600;
  font-size: 100%;
  margin-right: 5px;
}
.error {
  border: 2px solid #ff0000;
}

.numbers {
  width: 90px;
}
.btn {
  background-color: var(--main-color);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  margin: 0.5rem;
  color: #ffffff;
  display: inline;
  font-size: 120%;
}
.form-contant {
  max-width: 800px;
  margin: 1rem auto;
}
.color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.color-item {
  width: 130px;
  height: 130px;
  background-color: var(--main-color);
  padding: 1rem 0 0;
  display: flex;
  margin: 0.5rem;
  color: var(--bg-color);
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
