.section {
  margin: 2px auto;
  color: #232323;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  width: 400px;
}
@media screen and (max-width: 400px) {
  .section .items {
    width: 90%;
  }
  .section {
    width: 100%;
  }
  .remove {
    padding: 0.5rem 1rem;
  }
}
.section .items {
  display: flex;
  background-color: var(--shadow-color);
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
  border-radius: 1rem;
  width: 90%;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.item p span {
  font-size: 70%;
}
.item i {
  font-size: 300%;
  color: #28c52879;
}
.btn,
.remove {
  background: #28c528;
  color: #fff;
  outline: none;
  border: none;
  font-size: 120%;
  margin: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.remove {
  background-color: transparent;
  color: var(--main-color);
  padding: 0;
}
.remove:hover {
  color: #28c52879;
}
.btn:hover {
  background-color: #28c52879;
}
.btn {
  margin: auto;
  margin-top: 2rem;
}
