@media screen and (max-width: 400px) {
  .section .items {
    width: 90%;
  }
  .section {
    width: 100%;
  }
  .remove {
    padding: 0.5rem 1rem;
  }
}
.section .items {
  display: flex;
  background-color: var(--shadow-color);
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
  border-radius: 1rem;
  width: 90%;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.item p span {
  font-size: 70%;
}
.item i {
  font-size: 300%;
  color: #28c52879;
}
