:root {
  --font-famaly: Helvetica;
  --font-color: #232323;
  --shadow-color: #fcfcfc;
  --bg-color: #eeeeee;
  --main-color: #28c528;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-famaly);
  background-color: var(--shodow-color);
  color: var(--font-color);
  font-weight: 600;
}

.App {
  margin: 2rem auto;
  text-align: center;
}
h1 {
  font-size: 120%;
}
