:root {
  --font-famaly: Helvetica;
  --font-color: #232323;
  --shadow-color: #fcfcfc;
  --bg-color: #eeeeee;
  --main-color: #28c528;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-famaly);
  background-color: var(--shodow-color);
  color: var(--font-color);
  font-weight: 600;
}

.App {
  margin: 2rem auto;
  text-align: center;
}
h1 {
  font-size: 120%;
}
.section {
  margin: 2rem 2rem;
  color: #232323;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
@media screen and (max-width: 400px) {
  .section .items {
    width: 90%;
  }

  .remove {
    padding: 0.5rem 1rem;
  }
}
.section .items {
  display: flex;
  background-color: var(--shadow-color);
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
  border-radius: 1rem;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.item p span {
  font-size: 70%;
}
.item i {
  font-size: 300%;
  color: #28c52879;
}
.btn,
.remove {
  background: #28c528;
  color: #fff;
  outline: none;
  border: none;
  font-size: 120%;
  margin: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.remove {
  background-color: transparent;
  color: var(--main-color);
  padding: 0;
}
.remove:hover {
  color: #28c52879;
}
.btn:hover {
  background-color: #28c52879;
}
.btn {
  margin: auto;
}
