:root {
  --font-famaly: Helvetica;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-famaly);
  background-color: var(--shodow-color);
  color: var(--font-color);
  font-weight: 600;
}

.App {
  margin: 2rem auto;
  text-align: center;
}
h1 {
  font-size: 120%;
  margin: 2rem 0;
}
.section,
section {
  margin: 2px auto;
  color: var(--shodow-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  width: 400px;
}

.btn,
.remove {
  background: var(--main-color);
  color: var(--font-color);
  outline: none;
  border: none;
  font-size: 120%;
  margin: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.remove {
  background-color: transparent;
  color: var(--main-color);
  padding: 0;
}
.btn {
  margin: auto;
  margin-top: 2rem;
}
